<tr>
  <td><%= link_to user['name'], user_path(user['id']) %></td>
  <td><%=user['email']%></td>
  <td><%=user['role']%></td>
  <td><%=user['job_title']%></td>
  <td><%=user['business_unit']%></td>
  <td><%=user['department']%></td>
  <td><%=user['location']%></td>
  <td><%=user['hire_date']%></td>
  <td><%=user['manager_name']%></td>
</tr>
