<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Coursely", pages_home_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   pages_home_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Courses", courses_path %></li>
        <li><%= link_to "Lessons", lessons_path %></li>
        <li><%= link_to "Assignments", assignments_path %></li>
      </ul>
    </nav>
  </div>
</header>
